.root {
    -fx-background-image: url("../blue_abstract_background.png");
    -fx-background-size: cover;

}
.chat-input {
    -fx-padding: 5;
    -fx-spacing: 2;
}
.chat-display {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 12;
    -fx-padding: 20;
    -fx-spacing: 5;
}

.chat-bubble-sent {
    -fx-background-color: #5b9ef3;
    -fx-background-radius: 10;
    -fx-padding: 8 12 8 12;
    -fx-font-size: 13;
    -fx-wrap-text: true;
    -fx-max-width: 300;
}

.chat-bubble-received {
    -fx-background-color: #cfcfcf;
    -fx-background-radius: 10;
    -fx-padding: 8 12 8 12;
    -fx-font-size: 13;
    -fx-wrap-text: true;
    -fx-max-width: 300;
}
